<div class="card_important">
    <div class="card-container">
        <p class="cardTitle"><b>Olulised viited</b></p>
        <div class="cardInfo">
            <p><i class="fa-solid fa-arrow-right"></i>Maardu Linnavalitsus<br>
            Ametlik info, määrused, linnavalitsuse töökorraldus.</p>
            <p><i class="fa-solid fa-arrow-right"></i>Maardu Kultuurikeskus<br>
            Üritused, kontserdid, kultuuritegevus.</p>
            <p><i class="fa-solid fa-arrow-right"></i>Maardu Noortekeskus<br>
            Noorteprogrammid, töötoad, projektid.</p>
            <p><i class="fa-solid fa-arrow-right"></i>Maardu Sotsiaalosakond<br>
            Sotsiaalabi, toetused, nõustamine.</p>
            <p><i class="fa-solid fa-arrow-right"></i>Maardu Linnaraamatukogu<br>
            Raamatute laenutus, e-teenused, üritused.</p>
        </div>

        <div class="cardButton-Container">
            <button onclick="window.location.href='example.html.html'" class="card-button">MINE LEHELE</button>
        </div>
    </div>
</div>