<!-- Template for a content card that focuses on buttons for redirection to various forms. -->

<div class="card_crisis">
    <div class="card-container">
        <p class="cardTitle"><b>Pöördumise esitamine</b></p>
        <div class="cardFormsInfo">
            <button class="cardFormsButton">
                <i class="fa-solid fa-house-circle-check cardFormIcons1"></i>
                Elukoha registreerumine
                <i class="fa-regular fa-circle-right cardFormIcons2"></i>
            </button>
            <button class="cardFormsButton">
                <i class="fa-solid fa-file-invoice cardFormIcons1"></i>
                Esita pöördumine
                <i class="fa-regular fa-circle-right cardFormIcons2"></i>
            </button>
            <button class="cardFormsButton">
                <i class="fa-solid fa-comment cardFormIcons1"></i>
                Teavita probleemist
                <i class="fa-regular fa-circle-right cardFormIcons2"></i>
            </button>
        </div>

        <div class="cardButton-Container">
            <button onclick="window.location.href='example.html.html'" class="card-button">KÕIK BLANKETID</button>
        </div>
    </div>
</div>