<!-- Template for a content card that focuses on important contacts. -->

<div class="card_contacts">
    <div class="card-container">
        <p class="cardTitle"><b>Kontaktid</b></p>
        <div class="cardInfo">
            <p><b>Maardu Linnavalitsus</b><br>
                - Aadress: Kellamäe tn 4, Maardu, 74113 Harju maakond<br>
                - Telefon: +372 606 0700<br>
                - E-post: linnavalitsus@maardu.ee<br>
                - Avatud: E, T, N 08:00-17:00; K 08:00-18:00; R 08:00-14:00
            </p>

            <p><b>Maardu Sotsiaalosakond</b><br>
                - Telefon: +372 606 0714<br>
                - E-post: sotsiaal@maardu.ee<br>
                - Abi taotlemine, nõustamine ja toetused.<br>
            </p>
            <p><b>Maardu Kultuurikeskus</b><br>
                - Telefon: +372 606 0705<br>
                - E-post: kultuur@maardu.ee
            </p>
        </div>

        <div class="cardButton-Container">
            <button onclick="window.location.href='example.html.html'" class="card-button">KÕIK KONTAKTID</button>
        </div>
    </div>
</div>