<div class="card_crisis">
    <div class="card-container">
        <p class="cardTitle"><b>Kriisiinfo</b></p>
        <div class="cardInfo">
            <p>Hädaabi: 112 <br>
            (Kiirabi, pääste ja politsei)<br>
            Perearsti nõuandetelefon: 1220<br>
            (Ööpäevaringne tervisenõu)<br>
            Maardu Linnavalitsuse infotelefon: +372 606 0700<br>
            (E-R 08:00-17:00)
            </p>
            <p>Evakuatsioon ja varjumine<br>
            Kriisiolukorras annab Maardu linnavalitsus juhiseid:<br>
            - Evakuatsioonipunktide ja kogunemiskohtade kohta<br>
            - Varjumiskohtade ja turvaliste alade kohta<br>
            Kogu info avaldatakse maardu.ee ja sotsiaalmeedias.</p>
        </div>

        <div class="cardButton-Container">
            <button class="card-button">MINE LEHELE</button>
        </div>
    </div>
</div>