<div class="card">
    <div class="card-container">
        <p class="cardTitle"><b>Täna aktuaalne</b></p>
        <div class="cardInfo">
            <p><i class="fa-solid fa-arrow-right"></i>Tasuta õigusabi</p>
            <p><i class="fa-solid fa-arrow-right"></i>Vaimne tervis - küsi abi!</p>
            <p><i class="fa-solid fa-arrow-right"></i>Tasuta ja soodushinnaga sõidu õigus Maardus</p>
            <p><i class="fa-solid fa-arrow-right"></i>Tasuta koolibussiliin Muuga-Kallavere-Muuga</p>
            <p><i class="fa-solid fa-arrow-right"></i>Maardu linna eelarve 2025</p>
            <p><i class="fa-solid fa-arrow-right"></i>Registreeri Maardusse</p>
            <p><i class="fa-solid fa-arrow-right"></i>Pärimisveeb</p>
        </div>

        <div class="cardButton-Container">
            <button class="card-button">MINE LEHELE</button>
        </div>
    </div>
</div>