<!-- Template for the carousell on the front page's content section.-->

<div class="carousell">
    <div class="carousellText">
        <div class="text">
            <p class="textTitle"><b>Hoia end kursis — liitu ohuteavitamise süsteemiga juba täna!</b></p>
            <p>Ohuteavitamise süsteem hoiab sind kursis oluliste teadetega sinu piirkonnas. Saad kiiresti teavet eriolukordade, loodusõnnetuste ja muu tähtsa kohta otse oma telefoni. Liitu juba täna ja tunne end turvalisemalt!</p>
            <p><b><u>LOE EDASI</u></b></p>
        </div>
        <div class="turnButtons">
            <i class="fa-regular fa-circle-left turnButton"></i>
            <i class="fa-regular fa-circle-right turnButton"></i>
        </div>
    </div>
    <img src="../../assets/banner.png" alt="Teavituse süsteemi reklaambänner"></img>
</div>