<footer>
    <div class="contacts">
        <p>Maardu linnavalitsus - Kallasmaa 1, Maardu 74111</p>
        <p>Tel: <b>6060702</b></p>
        <p>E-post: linnavalitsus@maardu.ee</p>
    </div>
    <div class="EUlogoContainer">
        <img class="EUlogo" src="../../assets/euroopa_liit.jpg" alt="Toetajate logod: Euroopa Liit ja Eesti tuleviku heaks"></img>
    </div>
</footer>