<!-- Template for the front page's content section-->

<div class="content">
    {{> carousell }}
    <div class="cardGrid">
        {{> card }}
        {{> card_events }}
        {{> card_important }}
        {{> card_contacts }}
        {{> card_crisis }}
        {{> card_forms }}
    </div>
</div>