<nav>
    <a>Linnavalitsus</a>
    <a>Sotsiaalteenused</a>
    <a>Haridus ja kultuur</a>
    <a>Ehitus ja planeerimine</a>
    <a>Keskkond ja loomad</a>
    <a>Sport ja vaba aeg</a>
    <a>Transport</a>
</nav>