<nav class="nav">
    <a class="nav-button active">Linnavalitsus</a>
    <a class="nav-button">Sotsiaalteenused</a>
    <a class="nav-button">Haridus ja kultuur</a>
    <a class="nav-button">Ehitus ja planeerimine</a>
    <a class="nav-button">Keskkond ja loomad</a>
    <a class="nav-button">Sport ja vaba aeg</a>
    <a class="nav-button">Transport</a>
</nav>