<nav class="nav">
    <a onclick="window.location.href='example.html'" class="nav-button active">Linnavalitsus</a>
    <a onclick="window.location.href='example.html'" class="nav-button">Sotsiaalteenused</a>
    <a onclick="window.location.href='example.html'" class="nav-button">Haridus ja kultuur</a>
    <a onclick="window.location.href='example.html'" class="nav-button">Ehitus ja planeerimine</a>
    <a onclick="window.location.href='example.html'" class="nav-button">Keskkond ja loomad</a>
    <a onclick="window.location.href='example.html'" class="nav-button">Sport ja vaba aeg</a>
    <a onclick="window.location.href='example.html'" class="nav-button">Transport</a>
</nav>