<!-- Template for the site's search bar-->

<div class="search">
  <form action="">

    <select name="categorySelect" id="categorySelect">
      <option value="1">Vali kategooria</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>

    <input type="text" id="searchInput" name="searchInput">

    <div class="search-icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

  </form>
</div>